.container {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-around;
}

/* ... yeah there are other ways to increase specificity */
.container > *
{
  margin-top: 5px !important;
}